<%- include('partials/header') -%>
  <div class="leftcolumn">
    <div class="card">
      <h2>New Product</h2>
      <h5> Dec 7, 2017</h5>
      <div class="fakeimg" style="height:200px;">
        <img src="images/BL11.JPG" width="25%">
        <img src="images/BL12.JPG" width="25%">
        <img src="images/BL13.JPG" width="25%">
    <br>
      </div><br><br><br><br><br>
      <p></p><br><br><br><br>
      <p>This is a new products form Japan figure.</p>
    </div><br><br><br><br><br>
    <%- include('partials/footer') -%>

